
body {
    font-family: Arial, Helvetica, sans-serif;
    background-color: rgb(229, 228, 228);
    margin: 0;
    padding: 0;
    overflow: hidden;
}

h1, h2, h3 {
    font-weight: lighter;
}

header {
    background-color: antiquewhite;
    padding: 1rem;
    width: 100%;
    height: 6.5rem;
    border-bottom: 1px solid lightgray;
}

header h1 {
    position: absolute;
    font-size: 2rem;
    top: 0.5rem;
    left: 5.5rem;
}

ul {
    list-style: none;
}

a {
    position: absolute;
    color: black;
    text-decoration: none;
    width: 5rem;
    font-size: 1.5rem;
    top: 5rem;
    border: 1px solid lightgray;
    padding: 5px 20px;
    border-radius: 30px;
}

.left-anchor {
    left: 4.2rem;
}

.right-anchor {
    left: 14.2rem;
}

a:hover {
    color: royalblue;
}

main {
    height: 100%;
    padding: 1rem;
}

section {
    position: absolute;
    box-shadow: 0 4px 6px rgb(0, 0, 0, 0.5);
    border-radius: 10px;
    border: 1px solid lightgray;
    background-color: antiquewhite;
}

.left-section {
    left: 2rem;
    max-width: 70%;
    height: 35rem;
}

.left-section h2 {
    position: absolute;
    left: 1rem;
}

.left-section p {
    position: absolute;
    left: 1rem;
    bottom: 4rem;
    max-width: 90%;
}

.left-section img {
    position: relative;
    width: 100%;
    border-radius: 10px 10px 0 0;
}

.right-section {
    position: absolute;
    right: 2rem;
    width: 20%;
    height: 35rem;
}

.right-section h3 {
    margin-left: 1.25rem;
}

footer {
    color: antiquewhite;
    position: absolute;
    background-color: royalblue;
    border-top: 1px solid gray;
    width: 100%;
    height: 6rem;
    padding-left: 20rem;
    left: 0;
    bottom: 0;
}

footer h2 {
    position: absolute;
    margin: 0;
    bottom: 1.5rem;
    font-size: 2.5rem;
}

footer p {
    position: absolute;
    margin: 0 5rem;
    bottom: 1.8rem;
}
